{% extends 'shared/layouts/base.njk' %}
{% block main %}
    {% include 'partials/bigger-banner.njk' %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-md-4">

            <a href="https://cryptograss.live">
                <img class="img-fluid align-content-center" src="{{ get_image("ETHDENSEASON25RC2.png") }}"
                     class="img-fluid" alt="Colorado Blockchain Season Tour Poster"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-md-6 text-white text-center">
            <a href="https://cryptograss.live">
                <h1 class="pixel-font">Colorado Blockchain Season Tour</h1>
            </a>
        </div>

    <div id="page-build-metadata">
        Page build metadata:<br/>
        <ul>
            <li>
                Build on ref:
                {{ latest_git_commit }}
            </li>
            <li>
                Mainnet block height
                {{ chainData.mainnetBlockNumber }}
            </li>
            <li>
                Optimism block height
                {{ chainData.optimismBlockNumber }}
            </li>
            <li>
                Optimism Sepolia block height
                {{ chainData.optimismSepoliaBlockNumber }}
            </li>
        </ul>
    </div>
{% endblock %}