{% extends '../base.njk' %}
{% block main %}

    <div class="blue-railroad-grid">
        {% for tokenId, data in chainData.blueRailroads %}
            <div class="blue-railroad-card semi-transparent-bg">
                <div class="card-header">
                    <div class="owner-section">
                        <div class="owner-address" data-address="{{ data.owner }}">
                            {{ data.owner }}
                        </div>
                        <small class="text-muted">Token #{{ tokenId }}</small>
                    </div>
                </div>
                {% if data.video_url %}
                    <div class="video-container">
                        <video controls preload="metadata">
                            <source src="/assets/fetched/10-{{ chainData.blueRailroadContractAddress}}-{{ tokenId }}.mp4" 
                                            type="{{ data.content_type }}">
                                    Your browser does not support the video tag.
                                </video>
                    </div>
                {% else %}
                    <div class="no-video-message">
                                No video available
                            </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}