<!doctype html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page_title }} | cryptograss.live</title>

        <meta name="description" content="Blockchains are Bluegrass">

        <meta name="author" content="cryptograss">
    </head>

    <body>
        <div id="base-container" class="container-fluid">
            {% include 'partials/banner.njk' %}
            <div id="main-container" class="container">
                {% block main %}{% endblock %}
        </div>
    </body>