jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:

        - id: ${JENKINS_ADMIN_ID}
          password: ${JENKINS_ADMIN_PASSWORD}
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: true
  
  nodes:
    - permanent:
        name: "built-in"
        remoteFS: "/var/jenkins_home"
        launcher:
          jnlp:
            workDirSettings:
              disabled: true
              failIfWorkDirIsMissing: false
              internalDir: "remoting"

  globalNodeProperties:
    - envVars:
        env:
          - key: "NODE_VERSION"
            value: "{{ node_version }}"

tool:
  nodejs:
    installations:
      - name: "NodeJS {{ node_version }}"
        properties:
          - installSource:
              installers:
                - nodeJSInstaller:
                    id: "{{ node_version }}"

credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              scope: GLOBAL
              id: "github-token"
              secret: "${GITHUB_TOKEN}"
              description: "GitHub Token" 